<!-- admin/popup-tasks.ejs -->
<!-- popup form #2 -->
        
<a href="#x" class="overlay" id="join_form"></a>
        
<div class="popup">

 <span id=indigo class="loading">loading</span>
<br>
  <span id="po">popa</span>
<br>
<textarea id="texAdd" placeholder="addTask" ></textarea>
</p>
<button id="btn-add" onclick="adidas(texAdd);">Send data</button>
<br>
<span id="txout"></spin></br>


<table id="tabl">
<caption><h3>Aufgaben</h3></caption>
<thead>
<tr>
<th>tasks</th><th>status</th><th>edit</th><th>delete</th>
</tr>
</thead>
<tbody id="popa">

</tbody>
</table>          
<h2>Sign Up</h2>
            
<p>Please enter your details here</p>
            
<div>
<label for="email">Login (Email)</label>
<input type="text" id="email" value="">
</div>
            
<div>
<label for="pass">Password</label>
<input type="password" id="pass" value="">
</div>
            
<div>
<label for="firstname">First name</label>
<input type="text" id="firstname" value="">
</div>
    
<div>
<label for="lastname">Last name</label>
<input type="text" id="lastname" value="">
</div>
        
<input type="button" value="Sign Up">&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;
<a href="#login_form" id="login_pop">Log In</a>
<a class="close" href="#"></a>
</div>

<script>
var popa=document.getElementById('popa');
var po=document.getElementById('po');
var join_pop=document.getElementById('join_pop');
var area1=document.getElementById('texAdd');
join_pop.onclick=callB;
 showIndigo('');
function callB(event){
showIndigo('Loading...');
vax('get','/paramorig',null,onLoad,onError);

function onLoad(e){
//e.stopPropagation();
 showIndigo('');
 po.innerHTML='';
var data=JSON.parse(this.responseText);
    popa.innerHTML='';

for( var key in data.task){
var datid=data._id[key];

 var str='<input data-numb="'+datid+'" class="btn-edit" type="button" value="save" onclick="addEdik(this)"/>';
var str2='<input data-numb="'+datid+'" class="btn-del" type="button" value="delete" onclick="deleteTas(this)"/>';
//editTx.textContent=data.task[8];
if(!popa.childNodes[key]){
    popa.innerHTML+='<tr><th contenteditable=true>'
+data.task[key]+'</th><th>'+data.completed[key]+'<input type="checkbox" data-numb="'+datid+'" onchange="sendDone(this)" value="'+data.completed[key]+'"/></th><th>'+str+'</th><th>'+str2+'</th></tr>';
}

}

}
}
po.innerHTML='';

function addEdik(el){
showIndigo('Saving...');
var data={};
var su=el.parentNode.parentNode.firstChild.innerHTML;
var num_id=el.getAttribute('data-numb');
alert('el.Content :'+su+' _id :'+num_id);

 data.name=su;
 data._id=num_id;
 var data=JSON.stringify(data);

 vax('post','/savedit',data,onLoad,onError);
 function onLoad(e){
 showIndigo('');
  po.innerHTML+=this.response;
}
setTimeout(callB,1000);

}


function deleteTas(el){

var show=el.getAttribute('data-numb');
var confirmation = confirm('Are you sure you want to delete this task?');
if (confirmation === true) {
showIndigo('Deleting...');
alert("OK, man, I'm about deleting this id of task:"+show);
vax('DELETE','/delete/'+show,null,onLoad,onError);
function onLoad(e){
showIndigo('');
po.innerHTML=this.response;}
var drow=el.parentNode.parentNode.rowIndex;
    
function delrow(drow){
document.getElementById('tabl').deleteRow(drow);
}
delrow(drow);
}
else{ return false;}
}

function sendDone(el){
alert('aha '+el.value+' | '+el.getAttribute('data-numb'));
showIndigo('Saving...');
var data={};
    data._id=el.getAttribute('data-numb');
 var data=JSON.stringify(data);   
vax('post','/savedone',data,onLoad,onError);
function onLoad(e){
showIndigo('');
po.innerHTML=this.response;}
setTimeout(callB,1000);
}


function adidas(id){
var err=0;

if(id.value === ''){err++;}
if(err === 0){
vax('post','/angaben',createMessage(texAdd.value),onLoad,onError);
function onLoad(e){po.innerHTML=this.responseText;}
setTimeout(callB,1000);
}else{alert("Please fill in");}
}

function showIndigo(text){
//var indigo=document.getElementById('indigo');  
    //indigo.innerHTML=text;
 getId('indigo').innerHTML=text;
}

function getId(id){
return document.getElementById(id);
}
function createMessage(id){

var data={};

data.name=id;
return JSON.stringify(data);
} 
//alert(createMessage(texAdd.value));
</script>  

<!--
</div>
-->