<!-- admin/tasks.ejs -->
<style>
/*
.main {
    background: #aaa url() no-repeat;
    width: 200px;
    height: 100px;
    margin: 5px auto;
}
*/
.popup h3{font: .81/150% Arial;color:lightgray;}
.panel {
    background-color: #444;
    height: 34px;
    padding: 10px;
border-radius:10px;
border:2px solid #194;
}
.panel a#login_pop, .panel a#join_pop {
    border: 2px solid #aaa;
    color: #fff;
    display: block;
    float: right;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px #000;

    
    border-radius: 10px;
}
a#login_pop:hover, a#join_pop:hover {
    border-color: #eee;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
color:gray;
    background-color: rgba(0,0,0,.2);
    border: 3px solid rgba(255,255,255,0.4);
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;

    position: fixed;
    text-align: justify;
    top: 40%;
height:300px;
    overflow-y:scroll;
   min-height:50px;
    visibility: hidden;

    z-index: 10;

    
    transform: translate(-50%, -50%);

    border-radius: 10px;

   
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    transition: opacity .5s, top .5s;
}

textarea{
/*
text-shadow:2px 0 2px rgba(125,230,128,1);
*/
color:gray;
background:rgba(0,0,0,0.1);
/*
background-color:transparent;
*/
padding:3px 0px 3px 3px;
margin: 5px 1px 3px 0px;
border:2px solid #DDDDDD;
/*font: small-control;*/
overflow:auto;
line-height:1.2em;
box-shadow:1px 1px 1px lightgray,
inset 0 1px 1px 10em rgba(0,0,0,.3);

border-radius:0.5em;
transition:all 0.30s ease-in-out;
outline:none;
/*pointer-events:none;*/
}

textarea:focus{
box-shadow:0 0 5px rgba(81,128,238,.8);
padding:3px 0 3px 3px;
margin:5px 1px 3px 0;
border:1px solid rgba(81,203,238,1);
/*text-shadow:3px 2px 2px rgba(128,128,128,1);*/
}

textarea:focus::-webkit-input-placeholder{
font-style:normal;
/*color:red;*/

}


textarea::-webkit-scrollbar{width: 5px;}
textarea::-webkit-scrollbar-track{
box-shadow: inset 0 0 6px rgba(255,255,240,0.3);
border-radius:2px;
}
textarea::-webkit-scrollbar-thumb{
border-radius:2px;
height:2px;
background:rgba(0,0,0,0.8);
box-shadow:inset 0 0 6px rgba(255,255,224,0.9);
}

textarea::-webkit-scrollbar-track-piece{width:7px;}

textarea::-webkit-scrollbar-corner{
color:blue;width:5px;}

textarea::-webkit-resizer{
color:green;
width:1px;height:12px;
/*background-color:yellow;*/}


/*
.popup::-webkit-scrollbar-thumb{
border-radius:2px;

background:rgba(0,0,0,0.8);
box-shadow:inset 0 0 6px rgba(255,255,224,0.9);
}*/

/*textarea:: -webkit-input-placeholder:{color:red;}*/

/*.popup:hover{background-color:#fff;}*/
.popup::-webkit-scrollbar{width:5px;}
/*.popup::-webkit-scrollbar:hover{width:5px;background-color:blue;}*/
.popup::-webkit-scrollbar-track{
box-shadow: inset 0 0 6px rgba(255,255,240,0.3);
border-radius:2px;
}
.popup::-webkit-scrollbar-thumb{
border-radius:2px;

background:rgba(0,0,0,0.8);
box-shadow:inset 0 0 6px rgba(255,255,224,0.9);
}
.popup::-webkit-srcrollbar-thumb:hover{
visisbility:visible;
background-color:rgba(20,20,20,0.6);}
.popup::-webkit-scrollbar-thumb:active{
background:rgba(255,0,0,0.4);
}

th[contenteditable="true"]:focus{border:2px solid red;color:yellow;}

/*th[contenteditable="true"]:focus>p:hover{}
p[contenteditable="true"]:focus{}*/
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.close {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    
    border-radius: 15px;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}
.popup p, .popup div {
    margin-bottom: 10px;
}
.popup label {
    display: inline-block;
    text-align: left;
    width: 120px;
}
.popup input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 2px;

    
    border-radius: 2px;
}
.popup input[type="text"]:hover, .popup input[type="password"]:hover {
    border-color: #555 #888 red #888;
}
</style>



<!--
<div class="main">
-->

<div class="panel">
<a href="#login_form" id="login_pop">Files</a>
<a href="#join_form" id="join_pop">Tasks</a>
</div>

<% include files.ejs %>
<!-- popup form #2 -->
 
<% include popup-tasks %>
