<!-- includes/head.ejs -->

<meta charset="utf-8">

<!-- disable iPhone inital scale -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Simple site on express.js">
<meta name="author" content="globibot on heroku.com">
<link rel="shortcut icon" type="image/ico" href="http://frontender.info/favicon.ico">
<title>Some article</title>

<link href="/stylesheets/main-v3.css" rel="stylesheet" type="text/css">
<!-- media queries css 
<link href="media-queries.css" rel="stylesheet" type="text/css"> -->

<!-- html5.js for IE less than 9 -->
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- css3-mediaqueries.js for IE less than 9 -->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
