
<!DOCTYPE html>
<html lang="en">
<head>


<%- include head %>
</head>
<body class="wrapper">
<header><% include header %></header>
<div class="main-wr">
<b>Error 404?</b> No such file or directory!
mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm

kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
<button onclick="hidePic(this)">Hide pic</button>
<img id=pic src="/images/picch.jpg" style="width:80%;"/>
<script>
function hidePic(el){
pic.style.display="none";
el.innerHTML="fertig!";
}
</script>
</div>
<footer><% include footer %></footer>
</body>
</html>