
<!DOCTYPE html>
<html lang="en">
<head>


<%- include includes/head %>
</head>
<body>
<div id="pagewrap">
<header id="header"><% include includes/header %></header>
<div id="content">
<b>Error 404?</b> No such file or directory!

<button onclick="hidePic(this)">Hide pic</button>
<img id=pic src="/images/picch.jpg" style="width:40%;"/>
<script>
function hidePic(el){
pic.style.display="none";
el.innerHTML="fertig!";
}
</script>
</div>
<footer id="footer"><% include includes/footer %></footer>
</div>
</body>
</html>