
<!DOCTYPE html>
<html lang="en">
<head>
<style>
body,html{
margin:0;
padding:0;
height:100%;
}

#maket{
/*border:solid 3px black;*/
width:100%;
/*
margin:0 auto;
*/
min-height:100%;
}
</style>
</head>
<body class="wrapper">
<div id="maket">
<header><% include header %></header>
<main class="main-wr">
<b>Error 404?</b> No such file or directory!
</main>
</div>
<footer><% include footer %></footer>
</body>
</html>