<!-- footer.ejs -->
<style>
footer{
font:bold 1.2em/2.5 arial;

display:table-row;

background-color:#ee5;
height:40px;
text-align:center;
bottom:1px;
}
</style>
<p>Hosted by <a href="https://heroku.com">heroku.com</a></p>