<!-- views/head.ejs -->

<title>Super etwas</title>
<meta http-equiv="X-UA-Compatible" content="some content">
<meta content="width=device-width,initial-scale=1" name="viewport" />
<meta charset="utf-8" />
<meta name="description" content="Simple site on express.js">
<meta name="author" content="globibot on heroku.com">
<link rel="shortcut icon" type="image/ico" href="http://frontender.info/favicon.ico">
<!--[if IE 9]>
<style>
html{

margin:0;
padding:0;

height:100%;

}
.wrapper{

background-color:blue;

margin:30px;
padding:0;
height: 100%;
}

.main-wr{
/*
border:solid 3px black;
*/
margin:100px;
width:90%;
/*
margin:0 auto;
*/
min-height:69%;
}
</style>
<![endif]-->
 <link rel="stylesheet" href="/stylesheets/main.css" media=screen> 
 