<!DOCTYPE html>
<html lang="en">

<head>
<%- include includes/head %>


</head>
<body>
<div id="pagewrap">
<header id="header">
<% include includes/header %>
</header>
<div id="content">
<% if (message) { %>
<p><%= message %></p>
<% } %>

<% if (message.length > 0) { %>
<%= message %>
<% } %>
<fieldset style="width:400px;margin:auto;">
<form action="/login" method="post">
	<div>
	<label>Username:</label>
	<input type="text" name="username"/>
	</div>
        </br>
	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
</br>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form><p><small>nt - b:s</small></p></fieldset>

</div>

<footer id="footer"><% include includes/footer %></footer>
</div>
</body>
</html>