<!DOCTYPE html>
<html>
<head>
<title>Blog Editable</title>
<meta http-equiv="X-UA-Compatible" content="some content">
<meta content="width=device-width,initial-scale=1" name="viewport" />
<meta charset="utf-8" />
<meta name="description" content="Simple site on express.js.Blog Ediable. Variant-2.">
<meta name="author" content="globibot on heroku.com">
<link rel="shortcut icon" type="image/ico" href="http://frontender.info/favicon.ico">
<style>
html{
height:99%;
}
body
{
	margin: 0;
	padding: 0;
	font: 85% arial, hevetica, sans-serif;
	text-align: center;
	color: #333;
	background: #ddd url() repeat 0 0;
height:99%;
}

a:link { color: #B52C07; }
a:visited { color: #b93411; }
a:focus { color: #000; }
a:hover { color: #7d8206; }
a:active { color: red; }
h1, h2, h3, h4, h5, h6 { margin: 0 0 .5em; }

h2
{
	color: #B52C07;
	font: 140% georgia, times, "times new roman", serif;
}

h2 a { text-decoration: none; }

h3
{
	color: #7d8206;
	font: 110% georgia, times, "times new roman", serif;
}

/* ------------------------------
container styles
------------------------------ */

#container
{
	margin: 1em auto;
	width: 90%;/*650px*/
min-height:92%;
/*max-height:120px;*/
	text-align: left;
	background: #fff;
	border: 12px solid #676767;


}

/* ------------------------------
header styles
------------------------------ */

#header
{
	height: 45px;
	width: 100%;
	position: relative;
	background: url(/images/pic.png) no-repeat 0 0;
	border-bottom: 1px solid #fff;
}

#header h1
{
	position: absolute;
	left: -500em;
}

#skipmenu
{
	position: absolute;
	left: 0;
	top: 5px;
	width: 50%;
	text-align: right;
}

#skipmenu a
{
	color: #555;
	text-decoration: none;
}

/* ------------------------------
mainnav styles
------------------------------ */

#mainnav
{
	background: #9FA41D;
	color: #272900;
	padding: 2px 0;
	margin-bottom: 22px;
}

#mainnav ul
{
	margin: 0 0 0 20px;
	padding: 0;
	list-style-type: none;
	border-left: 1px solid #C4C769;
}

#mainnav li
{
	display: inline;
	padding: 0 10px;
	border-right: 1px solid #C4C769;
}

#mainnav li a
{
	text-decoration: none;
	color: #272900;
}

#mainnav li a:hover
{
	text-decoration: none;
	color: #fff;
	background-color: #272900;
}

/* ------------------------------
menu styles
------------------------------ */

#menu
{       height:37em;
	float: right;
	width: 165px;
	border-left: 1px solid #C5C877;
	padding-left: 15px;
}

#menu ul
{
	margin: 1em 0;
	padding: 0;
}

#menu ul li
{
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}

/* ------------------------------
contents styles
------------------------------ */

#contents
{ 
	float: left;
	width: 80%;/*430px*/
	margin: 0 0 0 20px;
/*height:100%;*/
/*min-height:auto;*/
box-sizing:border-box;
}

#contents p { line-height: 165%; }
.blogentry { border-bottom: 12px solid #C5C877;
border-right:2px solid red;padding-right:2px; }

.blogentry ul
{
	text-align: right;
	margin: 1em 0;
	padding: 0;
	font-size: 95%;
}

.blogentry li
{
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 2px 2px 2px 7px;
}

.imagefloat
{
	float: right;
	padding: 2px;
	border: 1px solid #9FA41D;
	margin: 0 0 10px 10px;
}

/* ------------------------------
footer styles
------------------------------ */

#footer
{
	clear: both;
	color: #272900;
	text-align: right;
	font-size: 90%;
	background: #9FA41D;
	padding: 5px;
}
</style>
<style>
.main {
    position:relative;padding:40px;display:block;
    width: 200px;
    height: 60px;
    margin: 50px auto;
}
.panel {
    background-color: #444;
    height: 34px;
    padding: 10px;
}
.panel a#login_pop, .panel a#join_pop {
    border: 2px solid #aaa;
    color: #fff;
    display: block;
    float: right;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px #010;

    
    border-radius: 10px;
}
a#login_pop:hover, a#join_pop:hover {
    border-color: #eee;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;

    position: fixed;
    text-align: justify;
    top: 40%;
    height:300px;
    overflow-y:scroll;
   min-height:50px;
    visibility: hidden;

    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.popup:hover{background-color:lightgray;}
.popup::-webkit-scrollbar{width:5px;}
.popup::-webkit-scrollbar:hover{width:5px;background-color:blue;}
.popup::-webkit-scrollbar-track{
box-shadow: inset 0 0 6px rgba(255,0,255,0.3);
border-radius:2px;
}
.popup::-webkit-scrollbar-thumb{
border-radius:2px;

background:rgba(0,255,0,0.8);
box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}
.popup::-webkit-srcrollbar-thumb:hover{
visisbility:visible;
background-color:rgba(24,255,20,0.6);}
.popup::-webkit-scrollbar-thumb:active{
background:rgba(255,0,0,0.4);
}


.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.close {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}
.popup p, .popup div {
    margin-bottom: 10px;
}
.popup label {
    display: inline-block;
    text-align: left;
    width: 120px;
}
.popup input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 2px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.popup input[type="text"]:hover, .popup input[type="password"]:hover {
    border-color: #555 #888 #888;
}
</style>

       

<body>

<div id="container">
	<div id="header" title="sitename">
		<div id="skipmenu"><a href="#content">Skip to content</a></div>
		<h1>
			Sitename
		</h1>
	</div>
	<div id="mainnav">
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/catalog">catalog</a></li>
			<li><a href="/variant-3">variant-3</a></li>
			<li><a href="#">Section 4</a></li>
		</ul>
	</div>
	<div id="menu">
		<h3>
			Archives
		</h3>
		<ul>
			<li><a href="#">December 2003</a></li>
			<li><a href="#">November 2003</a></li>
			<li><a href="#">October 2003</a></li>
			<li><a href="#">September 2003</a></li>
			<li><a href="#">August 2003</a></li>
		</ul>
		<h3>
			Last 10 Entries
		</h3>
		<ul>
			<li><a href="#">Entry 120 (4)</a></li>
			<li><a href="#">Entry 119 (0)</a></li>
			<li><a href="#">Entry 118 (9)</a></li>
			<li><a href="#">Entry 117 (3)</a></li>
		</ul>
 	</div>
	<div id="contents">
		<div id="divContent" class="blogentry">
			<h2>
				<a href="#" title="Permanent link to this item">Heading here</a>
			</h2>
			<h3>
				Wednesday, 3 December 2015
			</h3>
<img class="imagefloat" src="/images/pic.png">
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent</p>
<p>

For IE8 we can use the proprietary onpropertychange event, which also fires whenever the value property changes. This event is also available on versions less than 8, but a few small CSS tweaks will probably be needed to make the expanding text area work overall; I leave making it work in IE6 or IE7 as an exercise to the readers unlucky enough to have to support those ancient browsers.

Now, some of you may have spotted that, as we’re no longer polling, the textarea won’t resize if it has a fluid width and the window is resized. That brings us to our next improvement: we’re going to make the browser resize the textarea automatically. But, I hear you cry, I thought you said this was impossible? Well, not quite. You can’t do it automatically with just HTML and CSS, but all the JS needs to do is update the mirror element with the value of the textarea. It doesn’t have to measure or explicitly set height. The trick is to position the textarea on top of the mirror element, both inside a relatively-positioned containing div. The textarea is positioned absolutely and given a width and height of 100% to make it fill the div. The mirror is positioned statically so it will expand to fit its contents. The containing div will then expand to fit the height of 
<p>
Example....
</p>

			
	<ul><li><a href="#join_form" id="join_pop">Edit</a></li>
				<li><a href="#">Comments (4)</a></li>
				<li><a href="#">Pingbacks (1)</a></li>
				<li>Category: <a href="#" title="Category">CSS</a></li>
			</ul>
<div style="background-color:red;clear:both;font-size:1.5em;">1.5em 

</div>

		</div>
	</div>

	
<div id="footer">
		Copyright © Globibot 2015
	</div>
</div>

<a href="#x" class="overlay" id="join_form"></a>
        
<div class="popup">
  <span id="fuckout" style="background-color:red;"></span>
  <span id="po" class="loading"></span>
     <h2>Text editor</h2>
</br><button onclick="saveArticle(this)">saveArticle</button></br>
<textarea id="articleContent" oninput="saveArticle(this)" rows="5" cols="54"  wrap="pysical" value="For edit"></textarea>
</br>
<button onclick="saveArticle(this)">saveArticle</button>   
<h2>Sign Up</h2>
            
<p>Please enter your details here</p>
            
</div>
<script>
var join_pop=document.getElementById('join_pop');

var articleContent=document.getElementById('articleContent');
//var divHeader=document.getElementById('divHeader');
//var divDescription=document.getElementById('divDescription');
var divContent=document.getElementById('divContent');
//var out=document.getElementById('out');
//var po=document.getElementById('po');
//var checkvis=document.getElementById('checkvis');

join_pop.onclick=callRedactor;

function callRedactor(){
//alert('ok');
divContent.setAttribute('contenteditable',true);
articleContent.value=divContent.innerHTML;
//divContent.inner
}



function saveArticle(e){
 var errCount=0;
if(articleContent.value === ''){errCount++}
if(errCount === 0){
//showIndigo('Saving now...');
//var data={};
 //out.textContent=articleContent.value;
 divContent.innerHTML=articleContent.value;
 divContent.setAttribute('contenteditable',false);
//alert('out.textContent :'+out.textContent);
//var numb=divContent.getAttribute('data-id');
//alert('data-id : '+numb);
 // data._id=numb;
  //data.article=divHeader.innerHTML;
  //data.cont=divDescription.innerHTML;
    //data.artBody=divContent.innerHTML;
  //data.artBody=out.textContent;
  //var data=JSON.stringify(data);
  //vax('post','/*******',data,onLoad,onError);
/**
  function onLoad(e){
  showIndigo('');
  po.innerHTML=this.responseText;
  }
**/
//setTimeout(callDB,1000);
} else
{ alert('Please fill in the field');}
}

articleContent.onkeydown=function(e){
if(e.keyCode == 13){
//alert('l');
insertMetachars('<br>','');
 
}
}

function insertMetachars(sStartTag, sEndTag) {
var bDouble = arguments.length > 1, 
oMsgInput = area;


var nSelStart = oMsgInput.selectionStart, 
nSelEnd = oMsgInput.selectionEnd, sOldText = oMsgInput.value;
oMsgInput.value = sOldText.substring(0, nSelStart) + (bDouble ? sStartTag + sOldText.substring(nSelStart, nSelEnd) + sEndTag : sStartTag) + sOldText.substring(nSelEnd);
oMsgInput.setSelectionRange(bDouble || nSelStart === nSelEnd ? nSelStart + sStartTag.length : nSelStart, (bDouble ? nSelEnd : nSelStart) + sStartTag.length);
oMsgInput.focus();


}


//function(e){
//divContent.innerHTML=articleContent.value;
//};
</script>

</body>
</html>