html,body{
margin:0;
padding:0;
heght:100%;

}

body {

/**
display:table;
**/

background-color:lightblue;
font-family:'Open Sans', sans-serif;
}
.wrapper{

display:-webkit-box;
display:-webkit-flex;
display:flex;
/**
align-items:center;
**/
margin:auto;
min-height:100vh;
flex-direction:column;
}

.main-wr{flex: 1;}

